src/main/java/com/shinfo/ecm/ebs/webService/SI_wbsTemplateWS_importWSExtimateDetails_Syn_OutService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_wbsTemplateWS_importWSExtimateDetails_Syn_Out"
                  targetNamespace="http://www.shenhuagroup.com.cn/ZAOJIA"
                  xmlns:p2="http://webService.ebs.ecm.shinfo.com/" xmlns:p1="http://www.shenhuagroup.com.cn/ZAOJIA"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_SI_wbsTemplateWS_importWSExtimateDetails_Syn_Out"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://webService.ebs.ecm.shinfo.com/"
                    xmlns="http://webService.ebs.ecm.shinfo.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="importWSExtimateDetailsResponse" type="importWSExtimateDetailsResponse"/>
            <xsd:element name="importWSExtimateDetails" type="importWSExtimateDetails"/>
            <xsd:complexType name="importWSExtimateDetailsResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="importWSExtimateDetails">
                <xsd:sequence>
                    <xsd:element name="extimateList" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="subjId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="timeStamp" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="type" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="orderNum" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="isTheLast" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="p2.importWSExtimateDetails">
        <wsdl:documentation/>
        <wsdl:part name="parameters" element="p2:importWSExtimateDetails"/>
    </wsdl:message>
    <wsdl:message name="p2.importWSExtimateDetailsResponse">
        <wsdl:documentation/>
        <wsdl:part name="parameters" element="p2:importWSExtimateDetailsResponse"/>
    </wsdl:message>
    <wsdl:portType name="SI_wbsTemplateWS_importWSExtimateDetails_Syn_Out">
        <wsdl:documentation/>
        <wsdl:operation name="SI_wbsTemplateWS_importWSExtimateDetails_Syn_Out">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SI_wbsTemplateWS_importWSExtimateDetails_Syn_Out"/>
            </wsp:Policy>
            <wsdl:input message="p1:p2.importWSExtimateDetails"/>
            <wsdl:output message="p1:p2.importWSExtimateDetailsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_wbsTemplateWS_importWSExtimateDetails_Syn_OutBinding"
                  type="p1:SI_wbsTemplateWS_importWSExtimateDetails_Syn_Out">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="SI_wbsTemplateWS_importWSExtimateDetails_Syn_Out">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
                            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SI_wbsTemplateWS_importWSExtimateDetails_Syn_OutService">
        <wsdl:port name="HTTP_Port" binding="p1:SI_wbsTemplateWS_importWSExtimateDetails_Syn_OutBinding">
            <soap:address
                    location="http://shpipwd.sh217.com:8100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SFLYWDC&amp;receiverParty=&amp;receiverService=&amp;interface=SI_wbsTemplateWS_importWSExtimateDetails_Syn_Out&amp;interfaceNamespace=http%3A%2F%2Fwww.shenhuagroup.com.cn%2FZAOJIA"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:SI_wbsTemplateWS_importWSExtimateDetails_Syn_OutBinding">
            <soap:address
                    location="https://shpipwd.sh217.com:50201/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SFLYWDC&amp;receiverParty=&amp;receiverService=&amp;interface=SI_wbsTemplateWS_importWSExtimateDetails_Syn_Out&amp;interfaceNamespace=http%3A%2F%2Fwww.shenhuagroup.com.cn%2FZAOJIA"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>